[Unit]
Description=Rust Tunnel Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/rust-tunnel
ExecStartPre=/usr/bin/mkdir -p /opt/rust-tunnel/data/tls
ExecStart=/opt/rust-tunnel/rust-tunnel-server --config /etc/rust-tunnel/config.toml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
