/target
frontend/node_modules
frontend/dist
frontend-dist
data/rust-tunnel.db
data/rust-tunnel.db-wal
data/rust-tunnel.db-shm
.env
.vscode/.DS_Store

server.toml
client.toml
.superpowers/
.worktrees/
